**.elc

/borg
/borgmatic
/configstore
/devcert
/fish/**
!/fish/fishfile
/fisher
/git-annex
/gopass
/nnn
/ranger
/gatsby
/gtk*
/mpv
/neofetch
/wget
/youtube-dl
/emacs/*.el
!/emacs/init.el
/emacs/straight/**
!/emacs/straight/versions/default.el
/emacs/var
/emacs/etc
/hammerspoon
/Seamly2DTeam
/git
