**.elc

/borg
/borgmatic
/configstore
/devcert
/fish
/git-annex
/gopass
/nnn
/ranger
/gatsby
/git
/gtk*
/mpv
/neofetch
/wget
/youtube-dl
/emacs/emacs.el
/emacs/straight/repos
/emacs/straight/build
/emacs/straight/build-cache.el